*  {
padding: 0px;
margin:  0px;
box-sizing:border-box;
}	 

body {   background-image: linear-gradient(to right,  #f38e82, #fbdb89,#f48982);
width:1200px;
cursor:pointer;
margin:auto;
}
span {
text-transform:uppercase;
}
.clearboth {
       width:100%;
       clear:both;
       content:"";
}
.container {
  width:1000px;
  margin:auto;
  box-sizing: border-box;
  background-color:white;
  position:relative;
  top:50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	  border-radius:15px;
}
.head   {
      width:100%;
      padding:10px  0px   10px  0px;
      box-sizing: border-box;
      background-color:#f0ede9;
	   border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

#logo_img {
  height:40px;
  position: relative;
  top: 13px;
	  padding-left:40px;
    }
    .logo      {
      width:25%;
      float:left;
}

input      {
      height:40px;
      width: 320px;
      border-radius:50px;
       border: 2px solid white;
      float:left;
	  color:gray;
}
.input{
  color:#e6e4e1;
}
.searchsvg{
height:35px;
width:40px;
padding-top:10px;
}
.search{ 
 height:35px;
width:40px;
		
}
.bold{
position: relative;
bottom:10px;
right:7px;

}
.searchbar{
      width:44%;
	 
      float:left;
      padding-top:10px;
}

#search_button{
              width: 120px;
              height: 40px;
              border-radius: 50px;
               border-style:none;
	   float: right;
			  margin-right: 90px;
  color:white;
			  font-size: 16px;
			  text-transform:uppercase;
              margin-top:-9%;
			  margin-bottom:10px;
              background-image: linear-gradient(to right, #f38e82 ,#fbdb89,#f48982);
			  padding-bottom:1px;
     }
.Note_logo      {
              width:15%;
              float:left;
              text-align:center;
              padding-top:18px;
			  padding-right:22px;
}
.Note_logo  span{
  	position:relative;
         top:-7px;
  }

.bookmark_logo{
              width:15%;
              float:right;
              text-align:center;
          padding-top:18px;
			  padding-right:27px;
  }
.bookmark_logo  span{
                 	position:relative;
                    top:-3px;

                   }
#add_note{
                  height:30px;
				  
    }
#Bookmark{
                            height:25px;
             }
.main_body{
width:100%;
}
.main_leftcontent {
       float:left;
       width:35%;
       position: relative;
top: 20px;
    }
.main_rightcontent{
      float:right;
      width:65%;
      background-color:#f2f2f2;
}
.item       {
   padding:15px 2px 15px 2px ;
}
.item:hover{
background-color:#f0ede9;
}
.item_img{
       height:40px;
       border-radius:50%;
       float:left;
       margin-left:45px;
	  
}
span.head {
         color:#f56433;
         font-size:14px;
         margin-left:5%;
      }
span.para{
        font-size:12px;
        margin-left:5%;
	     }
.navigation {
        height:30px;
        width:80px;
        color:red;
        font-size:15px;
        border-radius:10px;
        border:none;
margin-left:2px;
		 margin-right:1px;
		 position: relative;
bottom: 36px;

		 }
.main_rightcontent{
      float:right;
      width:65%;
      background-color:#f2f2f2;
}
#one {
margin-left:15px;
}
#two{
float:right;
}
.navigationicon   {
          height:20px;
				  position:relative;
				  top:4px;
 }
#copyright        {
     padding:5px  15px   5px  15px;
                 font-size:12px;
 }
.right_head{
         width:100%;
 }
#img    {
         width:100%;
 }
#img   {
         height:300px;
 }
.selectlogo           {
        transform:rotatez(-10deg);
               margin-top:-10%;
			   position:relative;
			   top:-11px;
}
#textlogo1        {
                background-image: linear-gradient(to right, #f38e82 ,#f48982,#fbdb89);
                color:white;
                text-transform:uppercase;
                font-size:30px;
                margin:auto;
                width:320px;
    text-align:center;
				padding: 10px 10px 10px 10px ;
}  
#textlogo2       {
                background-image: linear-gradient(to right,#fbdb89,#f48982,#f38e82);
                color:white;
                text-transform:uppercase;
                font-size:30px;
                margin:auto;
                width:220px;
                text-align:center;
		        padding: 10px 10px 10px 10px ;
				 position:relative;
			   top:-4px;
}
.info {
width:100%;
 clear:both;
 margin-top:3%;
 background-color:#F5F5F5;
}
.insideicon{
height:28px;
}	
.time--word{
    color:#5c5956;
}
#time{
 width:35%;
 text-align:center;
 float:left;
}
#time  span{
    	position:relative;
                    top:-10px;
}
#serving{
width:35%;
text-align:center;
float:left;
	padding-bottom:10px;
	margin-left:20px;
}	
#serving  span{
    	position:relative;
                    top:-10px;
}
#plus   {
height:18px;
   position:relative;
   top:-7px;
}
#minus{
height:17px;
    position:relative;
   top:-5px;
}
.divbookmark{
          margin:auto;
          width:25%;
          float:right;
          text-align:center;
		  paddin-left:10px;
}
.ingredients  {
          width:100%;
          background-color:#f0ede9;
		  padding-top:30px;
          padding-bottom: 50px ;
		  padding-left:60px;
		  padding-right:60px;
}
.right_title   {
          color:#d97050;
          text-align:center;
          text-transform:uppercase;
          padding-top:5px;
}
ul {
columns: 2;
list-style:none;
line-height:30px;
}
li  {
padding-bottom:5px;
color:#5c5956;
font-size:17px;
}
#direction_button{
                   width: 143px;
                   height: 45px;
                   border-radius: 18px;
                   border: none;
                     background-image: linear-gradient(to right, #fbdb89 ,#f38e82,#f48982);
                   position:relative;
                   left:40%;
				   color:white;
				   font-size:15px;
				    text-transform:uppercase;
					margin-top:25px;
					padding:3px;
					text-align:center;
     }
.nav--icon{
fill:white;
	   height:30px;
	   width:30px;
	   position:relative;
	   top:5px;
	   padding-bottom:3px;
}
.direction--word{
          position:relative;
				  bottom:5px;
    }
#recipe{
   text-align: center;

   color:#999997;
}
.footer{
 width:100%;
 margin:auto;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}
.mainleft_footer{
               width:35%;
               float:left;
               padding-top:9%;
               border-bottom-left-radius: 10px;
			   padding-left:3%;
			   padding-right:3%;
}
.mainright_footer{
      width:65%;
          float:right;
              background-color:#F5F5F5;
				  padding:3% 0% 3% 0%;
              border-bottom-right-radius: 10px;
  }
#tick{
height:12px;
}

.left_lastpara{
   padding-bottom:px;
		   padding-left:10px;
		   margin-bottom:0px;
		   color:#999997;
}
.gaby{
  color:#616060;
}
